<p id="notice"><%= notice %></p>
<body class="body">
<h1 class="home">Comentarios</h1>

<div class="form_view">
<table>
  <thead>
    <tr>
      <th class="label_th">Comentario</th>
      <th class="label_th">Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentario.each do |comentario| %>
      <tr>
        <td class="label"><%= comentario.comentario %></td>
        <td class="label"><%= buscar_usuario(comentario.usuario_id) %></td>
        <% if excluir_comentario(@current_user.id, comentario.usuario_id, @curso.usuario_id) %>
          <td><%= link_to 'Apagar comentario', usuario_curso_comentario_path(@current_user.id, comentario.curso_id, comentario.id ), id: "d-#{comentario.comentario}" ,method: :delete, data: { confirm: 'Tem certeza que deseja apagar esse comentario?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<div class="botoes">
<%= link_to 'Voltar', usuario_curso_path(@current_user, @curso) %>
</div>

</body>