<%= form_for([@current_user, @curso, @aula]) do |form| %>
  <% if @aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aula.errors.count, "error") %> prohibited this aula from being saved:</h2>

      <ul>
        <% @aula.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label> Nome da aula:</label>
    <% form.label :nomeAula %>
    <%= form.text_field :nomeAula %>
  </div>

  <div class="field">
    <label>Link do video:</label>
    <% form.label :conteudo %>
    <%= form.text_field :conteudo, placeholder: "codigo do video no vimeo"%>
  </div>

  <div class="field">
    <% form.label :curso_id %>
    <% form.text_field :curso_id %>
  </div>

  <div class="actions">
    <%= form.submit "Criar aula" %>
  </div>
<% end %>
