<body class="body">
<%= form_for([@current_user, @curso, @aula]) do |form| %>
  <% if @aula.errors.any? %>
    <div id="error_explanation">
      <h2 class="error_mensage"><%= pluralize(@aula.errors.count, "error") %> prohibited this aula from being saved:</h2>

      <ul>
        <% @aula.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="field">
      <label class="label"> Nome da aula</label>
      <% form.label :nomeAula %>
      <%= form.text_field :nomeAula, class: "form_input" %>
    </div>

    <div class="field">
      <label class="label">Link do video</label>
      <% form.label :conteudo %>
      <%= form.text_field :conteudo, placeholder: "codigo do video no vimeo", class: "form_input"%>
    </div>

    <div class="field">
      <% form.label :curso_id %>
      <% form.text_field :curso_id %>
    </div>

    <div class="actions">
      <%= form.submit class:"acao" %>
    </div>
  </div>
<% end %>
</body>