<p id="notice"><%= notice %></p>

<h1>Aulas</h1>

<table>
  <thead>
    <tr>
      <th>Nome da aula</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aulas.each do |aula| %>
      <tr>
        <td><%= aula.nomeAula%></td>
        <td><%= aula.curso_id %></td>
        <td><%= link_to 'Show', usuario_curso_aulas_path(aula) %></td>
        <td><%= link_to 'Edit', edit_usuario_curso_aula_path(@current_user.id, aula.curso_id, aula) %></td>
        <td><%= link_to 'Destroy', usuario_curso_aula_path(@current_user.id, aula.curso_id, aula), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', usuario_cursos_path %>
