<p id="notice"><%= notice %></p>
<body class="body">
<h1 class="home">Aulas</h1>
<div class="curso">
  <label class="label">Curso: </label>
  <%= @curso.nomeCurso %>
</div>

<div class="form_view">
<table>
  <thead>
    <tr>
      <th class="label_th">Nome da aula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aulas.each do |aula| %>
      <tr>
        <td class="label"><%= aula.nomeAula%></td>
        <td class="label"><%= link_to 'Ver', usuario_curso_aula_path(@current_user,aula.curso_id, aula) %></td>
        <% if mesmo_usuario(@current_user.id, @curso.usuario_id) %>
          <td><%= link_to 'Editar aula', edit_usuario_curso_aula_path(@current_user.id, aula.curso_id, aula) %></td>
          <td><%= link_to 'Apagar aula', usuario_curso_aula_path(@current_user.id, aula.curso_id, aula), id: "d-#{aula.nomeAula}", method: :delete, data: { confirm: 'Tem certeza que deseja apagar esse aula?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<div class="botoes">
  <%= link_to 'Voltar', usuario_curso_path(@current_user, @curso) %>
</div>

</body>