<p id="notice"><%= notice %></p>

<p>
  <strong>Conteudo:</strong>
  <%= @aula.conteudo %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @aula.curso_id %>
</p>

<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
