<%= form_for([@current_user, @curso]) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
        <% curso.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Nome do curso</label>
    <% form.label :nomeCurso %>
    <%= form.text_field :nomeCurso %>
  </div>

  <div class="field">
    <label>Detalhes do curso</label>
    <% form.label :detalhesCurso %>
    <%= form.text_area :detalhesCurso %>
  </div>

  <div class="field">
    <% form.label :usuario_id %>
    <% form.text_field :usuario_id %>
  </div>

  <div class="actions">
    <%= form.submit "Criar curso"%>
  </div>
<% end %>
