<p id="notice"><%= notice %></p>
<body class="body">
<h1 class="home">Cursos</h1>

<div class="form_view">
  <table>
    <thead>
      <tr>
        <th class="label_th">Nome do curso</th>
        <th class="label_th">Criador do curso</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cursos.each do |curso| %>
        <tr>
          <td class="label"><%= curso.nomeCurso %></td>
          <td class="label"><%=buscar_usuario(curso.usuario_id) %></td>
          <td><%= link_to 'Ver', [@current_user, curso], id: "v-#{curso.nomeCurso}" %></td>
          <% if mesmo_usuario(@current_user.id,curso.usuario_id) %>
            <td><%= link_to 'Editar', edit_usuario_curso_path(curso.usuario_id, curso) %></td>
            <td><%= link_to 'Apagar', [@current_user, curso], id:"d-#{curso.nomeCurso}", method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
<br>
  <div class="botoes">
    <%= link_to 'Voltar', usuario_path(@current_user) %>
  </div>
</body>