<body class="body">
<%= form_for usuario do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2 class="error_mensage"><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="field">
      <label class="label">Nome de usuario</label>
      <% form.label :nomeUsuario %>
      <%= form.text_field :nomeUsuario, class: "form_input" %>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <% form.label :email %>
      <%= form.text_field :email, class: "form_input" %>
    </div>

    <div class="field">
      <label class="label">Senha</label>
      <% form.label :senha %>
      <%= form.password_field :senha, placeholder: " Minimo 8 caracteres", class: "form_input" %>
    </div>

    <div class="field">
      <label class="label">Tipo de usuario</label>
      <div class="field_tipo_usuario">
        <% form.label :tipoUsuario %>
        <%= form.radio_button :tipoUsuario, 1, id:"Professor", class: "radio_button_p" %> Professor <br />
        <%= form.radio_button :tipoUsuario, 2, id:"Aluno", class: "radio_button_a" %> Aluno <br />
      </div>
    </div>

    <div class="actions">
      <%= form.submit class:"acao" %>
    </div>

  </div>
<% end %>
</body>