<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>
<%= link_to "logout", :logout %>

<table>
  <thead>
      <tr>
        <th>Nomeusuario</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Tipousuario</th>
        <th colspan="3"></th>
      </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nomeUsuario %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.senha %></td>
        <td><%= usuario.tipoUsuario %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
