<p id="notice"><%= notice %></p>

<%= link_to "logout", :logout %>
<p>
  <strong>Nome de usuario:</strong>
  <%= @usuario.nomeUsuario %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.senha %>
</p>

<p>
  <strong>Tipo de usuario:</strong>
  <%= @usuario.tipoUsuario %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Apagar', @usuario, method: :delete, data: { confirm: 'Tem certeza que deseja apagar sua conta?' } %> |
<%= link_to 'Cursos',  usuario_cursos_path(@usuario) %> |
<% if @usuario.tipoUsuario == 1 %>
  <%= link_to 'Novo curso', new_usuario_curso_path(@usuario)%>
<% end %>
